######################################################## 
# ENVIRONMENT CONFIG 
########################################################

ENV=prod
API_PWD=


######################################################## 
# KLING AI CONFIG 
########################################################

KLING_ACCESS_KEY=
KLING_SECRET_KEY=

# KLINGAI IMAGE GENERATION CONFIG
DEFAULT_IMAGE_STYLE="DISNEY-PIXAR"  # 기본 이미지 스타일
NUM_OF_IMAGES=1  # 생성되는 이미지 개수
ASPECT_RATIO=1:1  # 생성되는 이미지 비율

# 이전 장면 데이터 사용 여부
USE_PREVIOUS_SCENE_DATA=true

# 참조 이미지 사용 여부
USE_REFERENCE_IMAGE=true
IMAGE_REFERENCE="subject"  # 이미지 참조 기준
IMAGE_FIDELITY=0.1  # 이미지 참조 정도

# 이미지 스타일별 설정
# DISNEY 스타일 설정
DISNEY_STYLE_PROMPT="disney/disney_v01.txt"
DISNEY_STYLE_REFERENCE_IMAGE="disney/disney-reference.png"

# PIXAR 스타일 설정
PIXAR_STYLE_PROMPT="pixar/pixar_v01.txt"
PIXAR_STYLE_REFERENCE_IMAGE="pixar/pixar-reference.png"

# ILLUSTRATE 스타일 설정
ILLUSTRATE_STYLE_PROMPT="illustrate/illustrate_v01.txt"
ILLUSTRATE_STYLE_REFERENCE_IMAGE="illustrate/illustrate-reference.png"

MAX_ATTEMPTS=50  # 최대 시도 횟수
DELAY=3  # 시도 간격 (초)



######################################################## 
# OPENAI CONFIG 
########################################################

OPENAI_API_KEY=

# OpenAI CONFIG - IMAGE PROMPT GENERATION
IMAGE_PROMPT_GENERATION_MODEL=gpt-4o
IMAGE_PROMPT_TEMPERATURE=0.3
IMAGE_PROMPT_MAX_TOKENS=500
# 기본 스타일 시스템 프롬프트 (스타일별 설정이 없을 경우 사용)
SYSTEM_PROMPT_FOR_IMAGE_PROMPT="disney-pixar_style_v04.txt"

# OpenAI CONFIG - SCENE INFO GENERATION
SCENE_INFO_GENERATION_MODEL=gpt-4o-mini
SCENE_INFO_TEMPERATURE=0.3
SCENE_INFO_MAX_TOKENS=500
SYSTEM_PROMPT_FOR_SCENE_INFO="sceneinfo_v04.txt"


######################################################## 
# S3 CONFIG 
########################################################

# 로컬 URL 사용 여부 (S3 업로드 실패 시 로컬 URL 사용)
USE_LOCAL_URL_ON_S3_FAILURE=false

# AWS S3 Dev Bucket 
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=

# # AWS S3 Prod Bucket 
RELEASE_S3_ACCESS_KEY=
RELEASE_S3_SECRET_KEY=
RELEASE_S3_BUCKET_NAME=
RELEASE_S3_REGION=